.Card {
    align-self: center;
    backdrop-filter: blur(2px);
    border: 2px solid rgba(224, 149, 149, 0.497);
    border-radius: 20px;
    padding: 25px 0;
    margin: 25px 0;
    width: 400px;
    text-align: center;
}
